

  <link rel="stylesheet" href="/css/home.css">

  <div id="box">
    <div id="headBox">
      <h1>HABBIT TRAKKR</h1>
    </div>
    
    <div id="secBox">
      <form  action="/add" method="post">
      <div class="flexHori">
        <input type="text" placeholder="Enter the habbit here" name='cont' required>
        <button>Add</button>
      </div> 
      </form>
    </div>
     <!-- Info about Instructions/Status of Tasks while seeing them -->
     <%- include('_instruction');%>
    <div class="specText">DAILY STATUS</div>
    <div id="displayBox" >
     <%for(let hab of habbit){%>
       <div class="flexHori">
          <div class="taskInfo"><%=hab.content%></div>
          <div class="statusBox" data-cont="<%=hab.record[0].status%>">
            <a href="/update/?taskId=<%=hab.id%>&ind=0">     
            </a>
           </div> 
          <div class="taskDel">
            <a href="/delete/<%=hab.id%>">
              <i class="fa fa-trash"></i>
            </a>
          </div>  
       </div> 
     <%}%> 
    </div>
    
    
  </div>
  <script src="/js/weekly.js"></script>
